body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
}

div#candidate{
    width: 60%;
    
}

div#add{
    width: 40%;
}

div#candidate div{
    width: 100%;
}

p {
    display: inline;
    margin: 5%;
    margin-left: 15%;
}

div#add button#submit {
    width: 25%;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: #3C6DFC;
    color: white;
} 

form {
    width: 100%;
    text-align: center;
}

input{
    width: 80%;
    text-align: center;
}

div#candidate div button{
    
    float: right;
}

p#candidate_header , p#add_header{
    display: inherit;
    text-align: center;

}


